<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/admin.css">
</head>
  <body>
      <main class="container-fluid">
        <header class="row text-center">
          <img th:src="@{/images/FPTPolytechnic1.png}" alt="" width="100%">
			<div class="col">
              <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <a class="navbar-brand" href="#">IT-Shop</a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                      <a class="nav-link" th:href="@{/admin/categories/layout}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" th:href="@{/admin/categories/add}">Add Category</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" th:href="@{/admin/categories/search}">List Category</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" th:href="@{/admin/products/add}">Add Product</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" th:href="@{/admin/products}">list Product</a>
                    </li>
                    
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/admin/accounts}">User list</a>
                        <a class="dropdown-item" th:href="@{/admin/accounts/add}">Add user</a>
                        
                    </li>
    
                  </ul>
                  <form th:action="@{/logout}" method="post" style="margin-right: 15px;">
                    <button class="btn btn-primary" type="submit">Đăng xuất</button>
                  </form>
    
                  <form action="" method="post">
                    <button class="btn btn-primary" type="submit">Đăng kí</button>
                  </form>
                </div>
              </nav>
            </div>
        </header>
        <section class="row">

          <div class="col-3">
            <article style="background-color: rgb(65, 66, 66); border-radius: 3px; height: 100%; margin-top: 16px; margin-bottom: 16px;">
              <ul class="list-group list-group-flush" style="list-style: none; ">
                
                <div class="ig text-center">
                  <img th:src="@{/images/logoa.png}" style="border-radius: 5px; margin-top: 10px;" width="95px" height="70px">
                </div>

                <li class="nav-item active">
                  <a class="nav-link" th:href="@{/admin/categories/layout}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/admin/categories/add}">Add Category</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" th:href="@{/admin/categories/search}">List Category</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" th:href="@{/admin/products/add}">Add Product</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" th:href="@{/admin/products}">list Product</a>
                </li>
              </ul>
            </article>
              <!--<div class="row mt-3 mb-3">
                  <div class="col">
                      <div class="card">
                          
                          <ul class="list-group list-group-flush" style="list-style: none;">
                            <li class="nav-item active">
                              <a class="nav-link" th:href="@{/admin/categories/layout}">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" th:href="@{/admin/categories/add}">Add Category</a>
                            </li>
        
                            <li class="nav-item">
                              <a class="nav-link" th:href="@{/admin/categories/search}">List Category</a>
                            </li>
        
                            <li class="nav-item">
                              <a class="nav-link" th:href="@{/admin/products/add}">Add Product</a>
                            </li>
        
                            <li class="nav-item">
                              <a class="nav-link" th:href="@{/admin/products}">list Product</a>
                            </li>
                          </ul>
                      </div>
                  </div>
              </div>-->
          </div>

          <div class="col-9">
            <aside>
              <div class="row p-5 text-center">
                  <div class="col-12 mt-2 ">
                      <div class="card">
                        <img th:src="@{/images/FPTPolytechnic.png}" width="100%" alt="">
                        <a th:href="@{/admin/products}" class="mane">Manager product</a>
                      </div>
              </div>
              </div>
            </aside>
          </div>

          <style>

            .mane{
              text-decoration: none;
              box-shadow: 1px 2px rgb(131, 128, 128);
              border-radius: 4px;
              text-align: center center;
              height: 30px;
              width: 250px;
              margin-left: 310px; 
              margin-top: 135px; 
              position: absolute; 
              background-color: rgb(84, 179, 235);
            }

            .mane:hover{
              background-color: rgb(61, 113, 211);
              color: white;
              text-decoration: none;
            }

            .col-3 li{
              margin-top: 25px;

            }

            .col-3 li a{
              color: white;
              font-size: medium;
              font-weight: 700;

            }

            .col-3 li a:hover{
              background-color: rgb(168, 212, 250);
              color: rgb(15, 15, 15);
            }
          </style>

          
      </section>

        <footer class="class">
          <div class="row" style="margin: 15px 0 0 0; width: 100%; ">
            <div class="col-3" style="background-color: rgb(119, 119, 119); height: 300px; width: 100%; ">
              <ul style="list-style-type: none; margin-top: 30px; margin-left: -20px;">
                <div class="ig text-center">
                  <img th:src="@{/images/logoa.png}" style="border-radius: 5px" width="85px" height="70px"><i><h3>IT-SHOP</h3></i>
                </div>
                <i class="fa fa-user-graduate"> nhatnoonoo</i> <br>
                <i class="fa fa-phone-volume"> 0358506325</i><br>
                <i class="fa fa-map-pin"><a href="https://www.google.com/maps/place/118+Nguy%E1%BB%85n+L%C6%B0%C6%A1ng+B%E1%BA%B1ng,+Ho%C3%A0+Kh%C3%A1nh+B%E1%BA%AFc,+Li%C3%AAn+Chi%E1%BB%83u,+%C4%90%C3%A0+N%E1%BA%B5ng+550000,+Vi%E1%BB%87t+Nam/@16.0760493,108.146372,17z/data=!3m1!4b1!4m6!3m5!1s0x314218d155262269:0xeabae832ca13a11c!8m2!3d16.0760442!4d108.1489469!16s%2Fg%2F11jyl_l0c3?entry=ttu">118 Nguyễn Lương Bằng</a></i> <br>
                <i class="fa fa-envelope"> nhatltpd06785@fpt.edu.vn</i>
              </ul>
            </div>
            <div class="col-9" style="background-color:  rgb(119, 119, 119); height: 300px; width: 100%;">
              <iframe 
                src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d7667.612314599422!2d108.1683795!3d16.0755457!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1686812483093!5m2!1svi!2s" 
                width="100%" height="290px" style="border:0;" allowfullscreen="" 
                loading="lazy" referrerpolicy="no-referrer-when-downgrade">
              </iframe>
            </div>
          </div>
        </footer>
      </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>