<!doctype html>
<html lang="en"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
</head>

<body>
    <div th:fragment="footer">
      <div class="row" style="margin: 15px 0 0 0;">
        <div class="col-3" style="background-color: rgb(119, 119, 119); height: 300px; width: 100%; ">
          <ul style="list-style-type: none; margin-top: 30px; margin-left: -20px;">
            <div class="ig text-center">
              <img th:src="@{/images/logoa.png}" style="border-radius: 5px" width="85px" height="70px"><i><h3>IT-SHOP</h3></i>
            </div>
            <i class="fa fa-user-graduate"> nhatnoonoo</i> <br>
            <i class="fa fa-phone-volume"> 0358506325</i><br>
            <i class="fa fa-map-pin"><a href="https://www.google.com/maps/place/118+Nguy%E1%BB%85n+L%C6%B0%C6%A1ng+B%E1%BA%B1ng,+Ho%C3%A0+Kh%C3%A1nh+B%E1%BA%AFc,+Li%C3%AAn+Chi%E1%BB%83u,+%C4%90%C3%A0+N%E1%BA%B5ng+550000,+Vi%E1%BB%87t+Nam/@16.0760493,108.146372,17z/data=!3m1!4b1!4m6!3m5!1s0x314218d155262269:0xeabae832ca13a11c!8m2!3d16.0760442!4d108.1489469!16s%2Fg%2F11jyl_l0c3?entry=ttu">118 Nguyễn Lương Bằng</a></i> <br>
            <i class="fa fa-envelope"> nhatltpd06785@fpt.edu.vn</i>
          </ul>
        </div>
        <div class="col-9" style="background-color:  rgb(119, 119, 119); height: 300px; width: 100%;">
          <iframe 
            src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d7667.612314599422!2d108.1683795!3d16.0755457!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1686812483093!5m2!1svi!2s" 
            width="100%" height="290px" style="border:0;" allowfullscreen="" 
            loading="lazy" referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>
    </div>
</body>
</html>